<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Jelajahi berbagai restoran yang ada di Indonesia dan nikmati makanan & minuman yang direkomendasikan dan semuanya tersedia dalam website kami">
  <meta name="theme-color" content="#343F56"/>

  <link rel="icon" href="/images/favicon.png" type="image/png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/images/icons/icon-192x192.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 

  <title>Sedap Apps</title>
</head>
<body>
  <overlay-loading></overlay-loading>
  <a href="#mainContent" id="skipLink" class="skiplink">Langsung Menuju ke Konten</a>
  <header>
    <app-bar></app-bar>
    <hero-header></hero-header>
  </header>
  <main id="mainContent" tabindex="0"></main>
  <footer>
    <footer-bar></footer-bar>
  </footer>
</body>
</html>